.change_pass_form{
    height: 620px !important;
    width: 800px !important;
    position: absolute;
    top: -140px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title_change_pass_form{
    margin-top: 40px !important;
}


.error_title{
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    width: 243px;
    border-radius: 5px;
}

.modal_change_pass_success{
}

#btn_exit_change{
    width: 100px;
    height: 40px;
    border: 0.1px solid black;
    border-radius: 5px;
}

#go_to_login{
    width: 100px;
    height: 40px;
    background-color: #756d3f;
    color: white;
    border-radius: 5px;
}

#go_to_login:hover{
    transition: background-color 1s;
    background-color: #ffffff;
    color: black;
}

#go_to_login:not(:hover){
    transition: background-color 1s;
    background-color: #756d3f;
    color: white;
}

