.container{
    width: 1400px;
    margin: 0 auto;
}

.place{
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.place a{
    text-decoration: none;
    color: black;
}

.place i{
    margin: 0 10px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.left{
    width: 210px;
    font-family: Arial, Helvetica, sans-serif;
}

.left h1{
    font-weight: 100;
    font-size: 25px;
}

.space_shop{
    width: 180px;
    height: 1px;
    background-color: black;
}
.list_left{
    list-style: none;
    padding: 0;
}

.list_item_left{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: black;
}

.list_item_left_active{
    text-decoration: underline;
}

.right{
    width: 1150px;
    font-family: Arial, Helvetica, sans-serif;
}

.right h1{
    margin: 15px 0;
}

.right_sorf{
    margin: 40px 0;
}

.note{
    width: 670px;
    display: block;
    margin: 10px 0;
}
/*right*/

/* list_item */

.row_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.item{
    position: relative;
    width: 370px;
    height: 640px;
}

.item_sale{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 55px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5e5e4a;
}

.item a{
    display: block;
    width: 100%;
    height: 497px;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.item a:hover img{
    transform: scale(1.2);
}

.item img:hover{
    cursor: pointer;
}

.title{
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;
    margin-left: 15px;
}

.price_sale{
    text-decoration: line-through;
    margin-left: 15px;
}
.price{
    margin: 10px 0;
    margin-left: 15px;
}

.add_item_to_card{
    width: 370px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0;
    background-color: #ffffff;
    color: black;
}

.add_item_to_card:not(hover){
    transition: background-color 1s;
    background-color: #ffffff;
}

.add_item_to_card:hover{
    transition: background-color 1s;
    background-color: #5e5e4a;
    color: white;
}


/* no item */

#no_item{
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    display: none;
}

#no_item img{
    width: 550px;
    height: 550px;
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn ease-in 0.05s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    /* background-color: var(--while-color); */
    margin: 200px auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.auth_form{
    width: 735px;
    height: 440px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    color: #55311c;
}

.auth_form_left{
    width: 50%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.auth_form_left >*{
    display: block;
    margin: 0 auto;
    width: 270px;
}

.auth_form_left h1{
    margin-top: 60px;
    margin-bottom: 5px;
    font-weight: 100;
}

.login_form input{
    width: 95%;
    height: 40px;
    border: 0.1px solid #dddddd;
    border-radius: 5px;
}

::placeholder{
    text-indent: 5px;
}

input:focus{
    text-indent: 5px;
}

.login_form input:focus{
    outline: #dddddd;
}

.label_input{
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.forgot_and_submit{
    margin-top: 10px;
}

.forgot_and_submit a{
    color: #5e5e4a;
    font-size: 15px;
}

.forgot_and_submit button{
    width: 65px;
    height: 35px;
    background-color: #55311c;
    color: white;
    border-radius: 5px;
    outline: none;
    margin-left: 30px;
    cursor: pointer;
}

.sign_up{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
}

.sign_up p{
    margin: 0 0 0 5px;
}

.sign_up a{
    color: #5e5e4a;
    display: block;
    margin-left: 5px;
}

.auth_form_right{
    position: relative;
    width: 50%;
    height: 100%;
}

.auth_form_right img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.close_form{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close_form:hover{
    cursor: pointer;
}

.close_form:focus.modal{
    display: none;
}